body {
    background-image: url(img/matt-hoffman-Q0AM87PsYkE-unsplash.jpg);
    background-image: no-repeat;
    background-color: #cccccc;
    background-size: cover;
     color: #ffffff;
}

* {
    box-sizing: border-box;
    margin-bottom: 10px;
}


h2 {
    color: #ffffff;
    letter-spacing: 2px;
    float: middle;
    margin-left: 3em;
}

.container {
    box-sizing: border-box;
    padding: 20px;
    width: auto;
    height: auto;
    margin: auto;
    background-color: rgba(8, 55, 36, 0.78);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 23px;
}

label {
    font-size: 18px;
    color: #ffffff;
}


a {
    color: #ffffff;
     
}
em {
color : #ff0000;
}


table{
	font-size : 1em;
	margin : 2em;
	 color : white;
}

td, th {
	color : white;
}

.page-link{
	color:white;
	 background-color: rgba(8, 55, 36, 0.78);
}