body {
    background-image: url(img/matt-hoffman-Q0AM87PsYkE-unsplash.jpg);
    background-image: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

* {
    box-sizing: border-box;
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
    margin-bottom: 10px;
}

h2 {
    color: #ffffff;
    letter-spacing: 2px;
    float: middle;
    margin-left: 3em;
}

.container {
    box-sizing: border-box;
    padding: 20px;
    width: 1200px;
   height: 650px;
    margin: auto;
     background-color: rgba(8, 55, 36, 0.78);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 23px;
  
}

form {
    height: 590px;
    width: 1152px;
    align-self: stretch;
    margin-top: 36px;
}

.ligne:after {
    content: "";
    display: table;
    clear: both;
}

.colonne {
    float: left;
    width: 50%;
    padding: 14px;
}

.colonneGauche {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: right;
}

.colonneDroite {
    float: left;
    width: 70%;
    padding: 10px;
    text-align: left;
}

label {
    font-size: 18px;
    color: #ffffff;
}

radio {
    text-align: left;
}

a {
    color: #ffffff;
     
}
em {
color : #ff0000;
}


table{
	font-size : 1em;
	margin : 2em
}

td {
	border: solid;
	border-radius : 1em;
	background : #9faea5;
}

td:hover{
	background : #d2e5d9;
}

td a {
  
  color : #0f0e0e;
	bpackground:rgba(8, 55, 36, 0.78);
  text-decoration: none ;
   display: inline-block ;
   padding : 1em;
     padding : 0.3em;
   font-size : 0.9em;
  
}
input[type=submit] {
    vertical-align: middle;
    align-self: stretch;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-variant: normal;
    background-color: rgba(89, 172, 179, 0.59);
    border-radius: 11px;
    color: #ffffff;
    float: middle;
    border-left-style: none;
    border-right-style: none;
}
input[type=text] {
    width: 15em;
}

input[type=number] {
    width: 4em;
}